
.input-field {
    background-color: white;
}

nav .input-field label i {
    color: black;
    font-size: 30px;
}

.custom-nav {
    background-color: #2ceeeb;
}

.custom-nav li {
    color: black;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: larger;
}

nav .brand-logo i {
    font-size: 30px;
}

.btn {
    background-color: #fefdde;
    color: black;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    border: 10px 10px 10px 10px;
    border-style: outset;
    border-color: #f9e4c4;
}

.btn:hover {
    background-color: #f9e4c4;
}

.btn:focus {
    background-color: #fefdde;
}

.toast {
    background-color: #f9e4c4;
    border-radius: 15px;
    color: black;
    font-family: 'Fredericka the Great', cursive;
    border: 1px solid #afafaf;
}

.card {
    border: 10px 10px 10px 10px;
    border-style: outset;
    border-color: #f9e4c4;
    height: 400px;
}

.card .card-title {
    /* background-color: #f9e4c4; */
    border-bottom: 5px solid #f9e4c4;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    text-align: center;

}

.card ul {
    padding: 24px;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

#modal1 {
height: 85vh;
max-height: none;
}

#modal1 h4 {
    font-family: 'Fredericka the Great', cursive;
}

#modal1 p {
    font-family: 'Josefin Slab', serif;
}

.modal-overlay {
    opacity: none;
    background: none;
}

#imgselection {
    background-repeat: no-repeat;
    background-size: cover;
}

#scroll{
    overflow-y: scroll;
    overflow-x: hidden;
}

